* {margin:0; padding:0}

.product-card {
    display: flex;
}

.product-card img {
    width: 150px;
}

h3.product-title {
    order: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0 1em;
    text-transform: capitalize;
}